<body>
  <header>
    <h1>Teste os seus conhecimentos com o PROVA!</h1>
  </header>

  <main>
    <form class="column" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h2>Bora fazer uma PROVA?</h2>

      <div class="error" *ngIf="shouldShowError">
        Erro ao realizar login
      </div>

      <label for="user">Nome</label>
      <input id="user" placeholder="Nome" required type="text" formControlName="user" />

      <div
        *ngIf="
          loginForm.controls['user'].invalid &&
          (loginForm.controls['user'].dirty ||
            loginForm.controls['user'].touched)
        "
        class="alert"
      >
        <div *ngIf="loginForm.controls['user'].errors?.['required']">
         Nome obrigatório
        </div>
        <div *ngIf="loginForm.controls['user'].errors?.['user']">
         Nome inválido
        </div>
      </div>

      <label for="password">Senha</label>
      <input id="password" placeholder="********" type="password" formControlName="password" />

      <div
        *ngIf="
          loginForm.controls['password'].invalid &&
          (loginForm.controls['password'].dirty ||
            loginForm.controls['password'].touched)
        "
        class="alert"
      >
        <div *ngIf="loginForm.controls['password'].errors?.['minlength']">
          A senha precisa ter, pelo menos, 8 caracteres
        </div>
      </div>

      <button type="submit" [disabled]="!loginForm.valid">ENTRAR</button>
    </form>
  </main>
</body>
