* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  font-family: "Roboto";
  color: #171717;
  min-height: 100vh;
}

aside {
  background-color: #171717;
  -webkit-print-color-adjust: exact;
  width: 30vw;
  min-width: 250px;
  display: flex;
  margin: 0;
  padding: 2rem 0;
  flex-direction: column;
}

aside section {
  padding: 1rem 3rem 0;
}

img {
  width: 15vw;
  min-width: 150px;
  border-radius: 100px;
  margin: 0 auto;
}

aside h1,
span {
  color: #fdfdfd;
  line-height: 2rem;
}

aside h1 {
  font-size: 1.3rem;
  margin: 1rem 0;
}

aside span {
  font-size: 0.9rem;
}

main {
  flex: 1;
  background-color: #fdfdfd;
  padding: 1rem 2rem;
  align-items: flex-start;
  justify-content: flex-start;
}

main header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

main h1 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-top: 1rem;
}

header span {
  margin-bottom: 1rem;
  color: #767579;
}

hr {
  width: 5rem;
  height: 2px;
  border-radius: 2px;
  border-width: 0;
  background-color: #908f92;
}

section hr {
  margin-top: 1rem;
}

h2 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 4rem;
  margin: 1rem 0;
}

header h2 {
  font-size: 1.3rem;
}

.experience {
  margin-bottom: 2rem;
}

main h3 {
  font-weight: 500;
  font-size: 1.1rem;
  margin: 0.2rem 0;
}

main h4 {
  font-weight: 400;
  font-size: 0.8rem;
  margin: 0;
}

main p {
  font-size: 0.9rem;
  font-family: 400;
  margin: 0.4rem 0 0.2rem;
}

main span {
  font-size: 0.7rem;
  color: #767579;
}
